html, body {
  margin: 0
}

body {
  // https://systemfontstack.com/
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

#debug-screen {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.3em;
}

#debug-screen p {
  margin: 0.5em;
}
